body {
	background-color: #ffffcc;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
h1 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.services {
	text-transform: uppercase;
}

.servicestext {
	width: 500px;
	margin: 0 auto;
}

ul {
  list-style-type: none;
}

